:root {
    --dark-color: #000000;
    --green-color: #ff3c00; 
}

body {
    transition: background-color 23s, color 13s;
}


.card{
    display:inline-table;
    grid-auto-rows: 1;
    background-color: var(--green-color);
    color: var(--dark-color);
    size: 0.001rem;
    padding: 4rem;

}

img{
    size: 0.001rem;
}

.card figcaption{
    padding: 1rem;
}


.rotate-45 {
    transform: rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }

  
.rotate-145 {
    transform: rotate(145deg);
    transition: transform 0.3s ease-in-out;
  }
  

.opacity-80 {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  .sepia {
    filter: sepia(100%);
    transition: filter 0.3s ease-in-out;
  }
  

  .eventos-flujo {
    padding: 20px;
    border: 2px solid black;
}

.div1, .div2, .div3 {
    padding: 20px;
    margin: 10px;
    border: 2px solid blue;
}

.div1 {
    background-color: lightblue;
}

.div2 {
    background-color: lightgreen;
}

.div3 {
    background-color: lightcoral;
}
